{% extends '@CasperBountyFront/base.html.twig' %}
{% block body  %}
    <div class="container">

        {{ form_start(form,{'attr':{'class':'form-inline'}}) }}
    <div class="row">
    <div class="form-group">
        {{ form_widget(form) }}
        {{ form_row(form.cmdpath,{'attr':{'class':'pidor'}}) }}
        {{ form_end(form) }}
    </div>
    </div>


            <form>
                <div class="form-group row">
                    <label for="lgFormGroupInput" class="col-sm-2 col-form-label col-form-label-lg">Email</label>
                    <div class="col-sm-3">
                        <input type="email" class="form-control form-control-lg" id="lgFormGroupInput" placeholder="you@example.com">
                    </div>

                    <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-sm">Email</label>
                    <div class="col-sm-3">
                        <input type="email" class="form-control form-control-sm" id="smFormGroupInput" placeholder="you@example.com">
                    </div>
                </div>

            </form>

    </div>
{% endblock %}