{% extends '@CasperBountyProjects/sin.html.twig' %}
{% block targets %}
    <table class="table table-condensed targetsTable">
        <thead>
        <tr>
            <th>host</th>
            <th>id</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for target in targets %}
            <tr>
                <td>{{ target.hostName }}</td>
                <td>{{ target.id }}</td>
                <td>

                    <!--<button type="button" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                    -->
                    <button type="button" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"
                                                                              aria-hidden="true"></span></button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

