{% extends "@CasperBountyFront/base.html.twig" %}

{% block body %}
    <div class="container">
        <!-- sin.html.twig-->
<div class="row">
        {% block targets %}
        {% endblock %}

        {% block notifications %}
        {% endblock %}
</div>
    </div>
{% endblock %}