{% extends '@CasperBountyScenario/Default/scenarioMainPage.html.twig' %}

{% block scenarioTable %}
    <table class="table table-condensed toolsTable ">
        <thead>
        <tr>
            <th>sc name</th>
            <th>-</th>
            <th>-</th>
        </tr>
        </thead>

        <tbody>
        {% for scenario in arras %}
            <tr>
                <td class="col-md-5">
                    {{ scenario['self'].scenarioName }}
                    <br>
                    {% for pr in scenario['profiles'] %}{{ pr.scenprofid }}<br>{% endfor %}
                </td>
                <td>-</td>
                <td>

                    <!--<button type="button" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                    -->
                    <button type="button" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"
                                                                              aria-hidden="true"></span>
                    </button>



                    <a role="button" class="btn btn-xs btn-info " href="{{ path('casper_bounty_scenario_info',{'scenarioId':scenario['self'].scenarioId}) }}">
                        Add profile to scenario
                    </a>


                    <!--<a class="btn btn-large btn-info btn-xs" href="templates/home.html"><span class="glyphicon glyphicon-cog"></span></a>
                    -->

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}