{% extends '@CasperBountyFront/base.html.twig' %}

{% block body %}
            <div class="container">
    <div class="form-group">



                    {{ form_start(formProfiles,{'attr':{'style':'max-width:350px'}}) }}



                    {{ form_widget(formProfiles.profileId) }}
                    {{ form_widget(formProfiles.save,{'attr':{'class':'btn btn-info btnAddToScen'}}) }}
                    {{ form_end(formProfiles) }}




    </div>
            </div>
{% endblock %}