{% extends '@CasperBountyScenario/Default/scenarioMainPage.html.twig' %}

{% block scenarioTable %}
    <table class="table table-condensed toolsTable ">
        <thead>
        <tr>
            <th>sc name</th>
            <th>-</th>
            <th>-</th>
        </tr>
        </thead>

        <tbody>
        {% for scenario in scenArr %}
            <tr >
                <td class="col-md-5">{{ scenario.scenarioname }}</td>
                <td>-</td>
                <td>

                    <!--<button type="button" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                    -->
                    <button type="button" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"
                                                                              aria-hidden="true"></span>
                    </button>


                    <button type="button" class="btn btn-xs btn-info">Add tool to scenario</button>

                    <!--<a class="btn btn-large btn-info btn-xs" href="templates/home.html"><span class="glyphicon glyphicon-cog"></span></a>
                    -->

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}