<html>
<head>
    {% javascripts filter="?jsqueeze" output="js/app.js"
    'assets/vendor/jquery/dist/jquery.js'
    'assets/vendor/bootstrap/dist/js/bootstrap.js'
    '@CasperBountyFrontBundle/Resources/public/js/*'
    %}
    <script src="{{ asset_url }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#form_targetid').multiselect({
                enableFiltering: true,
                maxHeight: 400,
                buttonWidth: '150px',
                nonSelectedText: 'Select targets',
                includeSelectAllOption: true,
            });
        });
    </script>
    {% endjavascripts %}

    {% stylesheets filter="scssphp" output="css/app.css"

    "@CasperBountyFrontBundle/Resources/public/scss/*"
    "@CasperBountyFrontBundle/Resources/public/css/*"
    "assets/vendor/bootstrap/dist/css/bootstrap.css"
    "assets/vendor/bootstrap/dist/css/bootstrap-theme.css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% block pageTitle %}{% endblock %}
</head>
<body>
{% if projectId is defined %}
    {% include '@CasperBountyProjects/navigation.html.twig' %}
{% else %}
{% include '@CasperBountyProjects/navigationT.html.twig' %}
{% endif %}

{% block body %}{% endblock %}
</body>
<footer>

</footer>
</html>