{% block navigation %}
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a href="{{ path('casper_bounty_projects_homepage') }}" class="navbar-brand">Casper</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <div class="container d-flex justify-content-between">


                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                                aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <li class="nav-item {% if app.request.attributes.get('_route') == 'casper_bounty_projects_homepage' %}active{% endif %}">
                            <a class="nav-link" href="{{ path('casper_bounty_projects_homepage') }}">Projects</a></li>
                        <li class="nav-item {% if app.request.attributes.get('_route') == 'casper_bounty_tools_homepage' %}active{% endif %}">
                            <a class="nav-link" href="{{ path('casper_bounty_tools_homepage') }}">Tools</a></li>
                        <li class="nav-item {% if app.request.attributes.get('_route') == 'casper_bounty_scenario_homepage' %}active{% endif %}">
                            <a class="nav-link" href="{{ path('casper_bounty_scenario_homepage') }}">Scenario</a></li>
                    </div>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
{% endblock %}