{% extends '@CasperBountyFront/base.html.twig' %}


{% block pageTitle %}<title>targets list</title>{% endblock %}

{% block body %}


    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#targetsFromExists">add</a></li>

            <li><a data-toggle="tab" href="#targetsFromFile">Targets from file</a></li>
            <li ><a data-toggle="tab" href="#targetsFromExists">Aquatone</a></li>
            <li><a data-toggle="tab" href="#targetsFromList">Massdns+altdns</a></li>
        </ul>

        <div class="tab-content">
            <div id="targetsFromExists" class="tab-pane fade in active ">

                {% if newTargetsCount is defined %}
                <div class="alert alert-success" role="alert">
                    <strong>Well done!</strong> {{ newTargetsCount }} added.
                </div>
                    {% endif %}
                <h3>Parse from aquatone</h3>
                    <form name="" method="post" action="{{ path('casper_bounty_targets_addTargets_post',{'projectId':projectId}) }}" class="form-group" label="test1">

                        <textarea placeholder="domains" name="targets"></textarea><br>
                        <button type="submit" id="" name="[save]" class="btn btn-primary">Add targets</button>
                    </form>


            </div>
            <div id="targetsFromList" class="tab-pane fade">
                <h3>AddHosts</h3>

            </div>

            <div id="targetsFromFile" class="tab-pane fade ">
                <h3>Parse from file</h3>
                <form action="{{ path('casper_bounty_targets_addTargets_fromFile',{'projectId':projectId}) }}"
                      enctype="multipart/form-data"  method="post">
                    <p>Загрузите файл</p>
                    <p><input type="file" name="hostsFiles[]" multiple></p>
                    <button type="submit" id="" name="[save]" class="btn btn-primary">Add targets</button>
                </form>
            </div>
        </div>




    </div>
{% endblock %}