{% extends '@CasperBountyFront/base.html.twig' %}

{% block body %}
    <div class="container">
    <table class="table table-condensed targetsTable">
        <thead>
        <tr>
            <th>host</th>
            <th>id</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for target in targetInfo.subtargets %}
            <tr class="{%   if target.type=='maindomain' %}success{% endif %}">
                <td class="col-md-4">{{ target.host }}</td>
                <td>{{ target.type }}</td>
                <td>

                    <!--<button type="button" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                    -->
                    <button type="button" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}