{% extends '@CasperBountyFront/base.html.twig' %}
{% block body %}
    <div class="container">

        <table class="table table-condensed toolsTable ">
            <thead>
            <tr>
                <th>tool name</th>
                <th>path</th>
                <th>target</th>
                <th>btn</th>
            </tr>
            </thead>

            <tbody>
            {% for result in results %}
                <tr>
                    <td class="col-md-3">{{ result.taskid.targetid.host }}</td>
                    <td class="col-md-2"><pre>{{ result.result }}</pre></td>
                    <td class="col-md-4"></td>
                    <td class="col-md-4">

                        <button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}