{% extends '@CasperBountyFront/base.html.twig' %}
{% block body %}
    <div class="container">
        <a href="{{ path('casper_bounty_task_prichesat',{'taskid':12}) }}">применить регулярку</a>

        <form method="post" action="{{ path('casper_bounty_task_prichesat',{'taskid':12}) }}">
            <input value="reg" type="text" name="regexp[]">
            <input type="text" name="regexpname[]">
            <br>
            <input value="reg" type="text" name="regexp[]">
            <input type="text" name="regexpname[]">
            <input type="submit" value="create">
        </form>


        <div class="container border">


            <div class="row">
                <div class="col-md-1">tool name</div>
                <div class="col-md-4">path</div>
                <div class="col-md-6">target</div>
                <div class="col-md-1">btn</div>
            </div>


            {% for result in results %}
                <div class="row border border-top-0">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">{{ result.taskid.targetid.host }}</div>
                    <div class="col-md-6">
                        <div class="trest">{{ result.result|raw}}</div>
                    </div>

                    <div class="col-md-1">
                        <button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"
                                                                    aria-hidden="true"></span></button>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}