{% extends '@CasperBountyFront/base.html.twig' %}

{% block body %}
    <div class="container">

<table class="table table-condensed subtargetsTable">
    <thead>
    <tr>
        <td></td>
        <th>host</th>
        <th>id</th>
        <th>state</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td></td>
        <td class="col-md-4"></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>

    {% for domain in domains %}
        <tr class="success">
            <td><input type="checkbox" name="targetsArr[]" value="{{ domain.targetid }}"></td>
            <td class="col-md-4">

                <a
                        href="{{ path('casper_bounty_targets_targetid',{'targetId':domain.targetid,'projectId':projectId}) }}">{{ domain.host }}</a>



            </td>
            <td></td>
            <td>
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            </td>
            <td>


            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    </div>
{% endblock %}